.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 7px;
    margin-right: 40px;
}

.icon {
    width: 16px;
    height: 16px;
    overflow: hidden;
    background-color: red;
    border-radius: 50%;
}
